body {
    position: relative;
    background-image: url('../img/home_reg.jpg');
    background-size: 98%; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
    background-color: rgba(211, 239, 239);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 239, 239, 0.5);
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0;
}

.custom-card {
    margin: 20px;
}

.card {
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

